header {
  display: flex;
  background-color: darkgray;
  height: 90px;
  min-height: 90px;
  width: 99.8%;
  color: aqua;
  border: darkorchid 3px solid;
}

header h1 {
  width: 125%;
  background-color: darkorchid;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

#headernav {
  width: 75%;
  display: inline-block;
  align-items: center;
  padding: 1em;
  color: black;
}

#headernav nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  float: right;
}

#headertitle h1 {
  font-weight: bold;
  font-size: 45px;
  color: darkgrey;
  display: inline-block;
  text-align: right;
  font-weight: 60em;
}

#headertitle {
  width: 9%;
  min-width: 15%;
  display: inline-block;
  margin-bottom: 75px;
}

#About-Me h2 {
  color: black;
}

#Work h2 {
  color: black;
}

footer {
  display: flex;
  height: 90px;
  min-height: 90px;
  width: 100%;
}

footer h2 {
  border-right: 4px solid darkorchid;
  color: black;
}

#footernav {
  width: 65%;
  display: inline-block;
  align-items: center;
  padding: 1em;
  color: black;
}

#footernav nav {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  float: right;
  margin-top: 20px;
}

#footertitle h2 {
  font-weight: bolder;
  font-size: 45px;
  display: inline-block;
  padding-right: 35px;
  padding-left: 50px;
}

#footerrtitle {
  width: 9%;
  min-width: 15%;
  display: inline-block;
  margin: 15px;
}

.navstyle {
  border-bottom: 4px solid darkorchid;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.aboutme-style {
  display: flex;
  flex-direction: row;
}

.aboutme-style h2 {
  font-size: 50px;
  font-weight: bolder;
}

.aboutme-margin {
  margin: 90px;
}

.aboutme-txt {
  border-left: darkorchid solid 4px;
  display: flex;
  flex-wrap: wrap;
}

.aboutme-txt img {
  margin-left: 500px;
  border: 5px solid darkslateblue;
  border-radius: 20px;
}

.aboutme-txt p {
  padding-left: 30px;
  font-size: 25px;
  font-style: bolder;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../images/spiderweb.jpg");
  background-size: cover;
  align-items: flex-start;
  height: 145px;
  min-height: 145px;
  background-position: center;
  width: 100%;
}

.subtitle {
  font-size: 25px;
  font-weight: bold;
  background-color: silver;
  margin-top: auto;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: auto;
  height: 50px;
  border: 2px solid darkorchid;
}

.subtitle p {
  color: darkorchid;
  padding: auto;
  margin-top: 15px;
}

.workstyle {
  margin: 50px;
}

.workstyle h2 {
  font-size: 50px;
  font-weight: bolder;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: darkorchid 4px solid;
  margin-left: 18px;
  padding-left: 2%;
}

.parent {
  display: flex;
  flex-direction: row;
  margin: 70px;
}

.containersize {
  width: 100%;
}

.box1 {
  color: rgb(2, 78, 118);
  width: 100%;
  height: 500px;
  margin: 10px;
  margin: 0.5%;
  border: 4px solid darkorchid;
}

.box2 {
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: darkorchid;
  width: 50%;
  margin: 10px;
  height: 250px;
}

.box3 {
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: darkorchid;
  width: 50%;
  margin: 10px;
  height: 250px;
}

.box4 {
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: darkorchid;
  width: 48.7%;
  margin: 10px;
  height: 250px;
}

.box5 {
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: darkorchid;
  width: 48.7%;
  margin: 10px;
  height: 250px;
}

.projects {
  position: absolute;
}

.projects p {
  font-weight: bold;
  font-size: 55px;
  color: darkorchid;
  margin: 0px;
}

.boxstyle p {
  background-color: silver;
  color: darkorchid;
  align-items: flex-start;
  margin-top: 160px;
  border: 1px solid black;
}

.boxstyle:hover {
  cursor: pointer;
  transform: scale(1);
  transform-origin: top left;
  background-color: yellow;
}

.boxes {
  display: flex;
  position: relative;
}

@media screen and (max-width: 980px) {
  /* MEDIA QUERY FOR TABLETS AND SMALLER */

  .box1 {
    margin: 0;
    width: 100%;
  }

  .box2,
  .box3,
  .box4,
  .box5 {
    margin: 0;
  }

  .aboutme-txt {
    border-left: none;
    border-top: darkcyan 3px solid;
    display: block;
  }

  .aboutme-margin {
    display: block;
    margin: 0px;
  }

  .aboutme-margin h2 {
    text-align: center;
  }

  .aboutme-style {
    display: block;
  }

  .workstyle {
    display: block;
    margin: 0;
  }

  .workstyle h2 {
    display: block;
    margin: 0px;
    border-bottom: 3px darkcyan solid;
    border-left: none;
    border-right: none;
    text-align: center;
  }

  .content {
    display: block;
    border-left: none;
    border-right: none;
    padding-left: 0%;
  }

  .parent {
    display: block;
    flex-direction: column;
  }

  .boxes {
    flex-direction: column;
  }

  .boxstyle {
    width: 95%;
    margin-top: 1.5em;
  }

  footer {
    display: block;
    text-align: center;
  }

  #footertitle h2 {
    display: block;
    border-right: none;
    border-bottom: 3px solid darkorchid;
  }

  #footernav nav {
    display: block;
    flex-direction: column;
    text-align: center;
    margin-left: none;
    padding-left: none;
  }

  #headertitle h1 {
    display: block;
    text-align: center;
    flex-direction: row;
  }

  #headernav nav {
    display: block;
    text-align: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}
