header {
  display: flex;
  background-color: darkgray;
  height: 90px;
  min-height: 90px;
  width: 100%;
  color: aqua;
}

header h1 {
  width: 125%;
  background-color: aqua;
}

#headernav {
  width: 75%;
  display: inline-block;
  align-items: center;
  padding: 1em;
  color: aqua;
}

#headernav nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  float: right;
}

footer {
  background-color: #d9dcd6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
  padding: 40px 35px;
}

footer ul li a {
  font-weight: lighter;
  font-size: 1.55vw;
  padding: 10px 15px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer h1 {
  border-bottom: 2px solid darkblue;
}

#headertitle h1 {
  font-weight: bold;
  font-size: 45px;
  color: darkgrey;
  display: inline-block;
  text-align: right;
  font-weight: 60em;
}

#headernav nav > ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
}

#headerNav nav > ul > li {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 2em;
  border-bottom: solid;
}

#headertitle {
  width: 9%;
  min-width: 15%;
  display: inline-block;
  margin-bottom: 75px;
}

.navstyle {
  border-bottom: 3px solid aqua;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.aboutme-style {
  display: flex;
  flex-direction: row;
}

.aboutme-style h2 {
  font-size: 50px;
  font-weight: bolder;
}

.aboutme-margin {
  margin: 39px;
}

.aboutme-txt {
  border-left: darkblue solid 3px;
  display: flex;
  flex-wrap: wrap;
}

.aboutme-txt p {
  padding-left: 30px;
}

.aboutme-txt2 {
  border-right: darkblue solid 3px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../images/banner-1058142_960_720.webp");
  background-size: cover;
  align-items: flex-start;
  height: 145px;
  min-height: 145px;
  background-position: center;
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
  background-color: aqua;
  margin-top: auto;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: auto;
}

.workstyle {
  margin: 31px;
}

.workstyle h2 {
  font-size: 50px;
  font-weight: bolder;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: darkblue 3px solid;
  margin-left: 18px;
  padding-left: 2%;
}

.parent {
  display: flex;
  flex-direction: row;
  margin: 9px;
}

.containersize {
  width: 100%;
}

.box1 {
  background-color: grey;
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 255, 255);
  margin: 0.5%;
  background-position: center;
  background-image: url(../images/surfreport.jpg);
  background-size: cover;
  width: 98%;
  height: 500px;
  margin: 10px;
}

.box2 {
  background-color: grey;
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 255, 255);
  background-position: center;
  background-image: url(../images/led_wall.webp);
  width: 48.7%;
  margin: 10px;
  height: 250px;
}

.box3 {
  background-color: grey;
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 255, 255);
  background-image: url(../images/what-is-apr-hero.webp);
  background-size: cover;
  width: 48.7%;
  margin: 10px;
  height: 250px;
}

.box4 {
  background-color: grey;
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 255, 255);
  background-image: url(../images/2560x1440-teal-blue-solid-color-background.jpg);
  background-size: cover;
  width: 48.7%;
  margin: 10px;
  height: 250px;
}

.box5 {
  background-color: grey;
  color: rgb(2, 78, 118);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 255, 255);
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  width: 48.7%;
  margin: 10px;
  height: 250px;
}

.projects p {
  font-weight: bold;
  font-size: 55px;
  color: cyan;
  margin: 0px;
}

.boxstyle p {
  background-color: turquoise;
  color: darkblue;
  align-items: flex-start;
  margin-top: 160px;
}

.boxstyle:hover {
  cursor: pointer;
  transform: scale(1);
  transform-origin: top left;
  background-color: yellow;
}

.boxes {
  display: flex;
}
